/* html {
  box-sizing: border-box;
} */

/* *, *::before, *::after {
  box-sizing: inherit;
} */

.square {
  height: 60px;
  width: 60px;
  border: 0.5px solid black;
  flex: none;
  box-sizing: border-box;
}

.square.color {
  background-color: black;
}

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  border: 0.5px solid black;
  box-sizing: content-box;
}
