button {
  margin: 1em;
}

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  border: 0.1px solid black;
  margin: auto;
}

.square {
  flex: none;
  box-sizing: border-box;
  border: 0.1px solid rgb(0 0 0 / 1);
}
